
<div data-ng-controller="PrincipalController">
<div class="col-md-5">
    <div class="widget">
        <div class="innerAll">
            <h3 class="margin-none" data-ng-bind="authentication.user.displayName"></h3>
            <div class="media innerB">
                <a class="pull-left" href="">
                    <img width="75" alt="" src="/social/php/assets/images/people/100/22.png">
                </a>

            </div>

            <div class="row border-top">

                <div class="col-sm-12">
                    <h5 class="innerT">Amigos Cercanos</h5>
                    <div class="widget bg-gray">
                        <div class="innerAll">
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/1.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/2.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/3.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/4.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/5.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/6.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/7.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/8.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/9.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/10.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/11.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/12.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/13.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/14.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/15.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/16.jpg">
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="widget bg-gray innerAll">
    <!-- WIDGET START -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Widget Heading -->
        <div class="widget-head">
            <h4 class="heading"><i class=" fa fa-twitter-square icon-twitter"></i>Twitter</h4>
        </div>
        <!-- // Widget Heading END -->

        <div data-builder-exclude="element children" class="widget-body">
            <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
        </div>
    </div>
    <!-- // WIDGET END -->

    <!-- WIDGET START -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Widget Heading -->
        <div class="widget-head">
            <h4 class="heading"><i class=" fa fa-facebook-square icon-facebook"></i>Facebook</h4>
        </div>
        <!-- // Widget Heading END -->

        <div data-builder-exclude="element children" class="widget-body">
            <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
        </div>
    </div>
    <!-- // WIDGET END -->

    <!-- WIDGET START -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Widget Heading -->
        <div class="widget-head">
            <h4 class="heading"><i class=" fa  fa-google-plus-square icon-gplus"></i>Google plus</h4>
        </div>
        <!-- // Widget Heading END -->

        <div data-builder-exclude="element children" class="widget-body">
            <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
        </div>
    </div>
    <!-- // WIDGET END -->

    <!-- WIDGET START -->
    <div class="widget widget-heading-simple widget-body-white">

        <!-- Widget Heading -->
        <div class="widget-head">
            <h4 class="heading"><i class=" fa fa-instagram icon-instagram"></i>Instagram</h4>
        </div>
        <!-- // Widget Heading END -->

        <div data-builder-exclude="element children" class="widget-body">
            <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
        </div>
    </div>
    <!-- // WIDGET END -->

    </div>
</div>
<div class="col-md-7" >

<div class="wizard">
    <div class="widget widget-tabs widget-tabs-responsive">

        <!-- Widget heading -->
        <div class="widget-head">
            <ul>
                <li class="active"><a data-toggle="tab" class="glyphicons pencil" href="#tab1-1"><i></i>Estado</a></li>
                <!--<li><a data-toggle="tab" class="glyphicons camera" href="#tab2-1"><i></i>Foto/Video</a></li>-->

            </ul>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">
            <div class="tab-content">

                <!-- Step 1 -->
                <div id="tab1-1" class="tab-pane active">
                    <div class="row">

                        <div class="col-md-12">
                            <textarea id="publicacion" placeholder="Escribe tu comentario aqui..." class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <!-- // Step 1 END -->

                <!--&lt;!&ndash; Step 2 &ndash;&gt;-->
                <!--<div id="tab2-1" class="tab-pane">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; // Step 2 END &ndash;&gt;-->



            </div>

            <!-- Wizard pagination controls -->
            <ul class="pagination margin-bottom-none">
                <!--<li class=""><a class="fa fa-camera"></a> </li>-->
                <li class="next primary"><a class="no-ajaxify" href="#" data-ng-click="publicar()" >Publicar</a></li>
            </ul>
            <!-- // Wizard pagination controls END -->

        </div>
    </div>
</div>

    
</div>
