
<div class="row" data-ng-controller="AuthenticationController">
    <!-- Content START -->
                    <div class="col-separator col-separator-first box col-unscrollable col-fs" style="overflow-x: hidden;">
                        <div class="col-table">
                            <div class="col-table-row">
                                <div class="col-app col-unscrollable tab-content">
                                    <div tabindex="5000" style="overflow-y: hidden;" class="col-app lock-wrapper lock-bg-1 tab-pane active animated fadeIn hasNiceScroll" id="lock-1-1">
                                        <h3 class="text-white innerB text-center">Accede a tu Cuenta</h3>
                                        <div class="lock-container">
                                            <div class="innerAll text-center">
                                                <img src="social/php/assets/images/people/100/22.png" class="img-circle"/>

                                                <div class="innerLR">
                                                    <form data-ng-submit="signin()" class="signin" autocomplete="off">
                                                        <div class="form-group">
                                                            <input type="text" id="username" name="username" class="form-control text-center bg-gray" data-ng-model="credentials.username" placeholder="Usuario">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" id="password" name="password" class="form-control text-center bg-gray" data-ng-model="credentials.password" placeholder="Contraseña">
                                                        </div>
                                                        <div class="text-center form-group">
                                                            <button type="submit" class="btn btn-primary">Ingresar <i class="fa fa-fw fa-unlock-alt"></i></button>&nbsp;&nbsp;
                                                            <!--<a href="/#!/signup"  class="btn btn-primary" >Registrarse <i class="fa fa-fw fa-pencil"></i></a>-->
                                                        </div>
                                                        <div class="forgot-password">
                                                            <a class="btn margin-none" href="/#!/password/forgot">¿Olvidaste tu contraseña?</a>
                                                        </div>
                                                        <div data-ng-show="error" class="text-center text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 5px; z-index: 2; cursor: default; position: absolute; top: 0px; left: 1361px; height: 500px; display: none; opacity: 1;" class="nicescroll-rails" id="ascrail2000"><div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(37, 173, 159); border: medium none; background-clip: padding-box; border-radius: 0px;"></div></div></div>

                    </div>
</div>
