
<section class="row" data-ng-controller="AuthenticationController">
<div class="row row-app lock-bg-1 lock-wrapper">

    <!-- col -->

    <!-- col-separator.box -->
    <div class="col-separator col-unscrollable box "  >

        <!-- col-table -->
        <div class="col-table">
            <!-- col-table-row -->
            <div class="col-table-row">

                <!-- col-app -->
                <div class="col-app col-unscrollable">

                    <!-- col-app -->
                    <div class="col-app">

                        <div class="login" style="margin-top: -150px;">

                            <div class="placeholder text-center"><i class="fa fa-users"></i></div>

                            <div class="panel panel-default col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                                <div class="panel-body">
                                    <form name="userForm" data-ng-submit="userForm.$valid && signup()" class="signin" novalidate autocomplete="off">
                                        <div class="form-group">
                                            <label for="cedula">Cédula</label>
                                            <div class="input-group">
                                            <div class="input-group-btn">
                                                <button data-toggle="dropdown" class="btn btn-left dropdown-toggle" type="button">Tipo de Documento <span class="caret"></span></button>

                                                <ul class="dropdown-menu pull-right">
                                                    <li><a data-ng-click='vzlno()'>Venezolano</a></li>
                                                    <li><a data-ng-click='extranjero()'>Extranjero</a></li>
                                                    <li><a data-ng-click='pasaporte()'>Pasaporte</a></li>
                                                </ul>
                                            </div><!-- /btn-group de origénes -->
                                                <input type="text" required id="cedula"  ui-mask="{{ mascara }}" name="cedula" class="form-control" data-ng-model="credentials.cedula">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="nombres">Nombres</label>
                                            <input type="text" required id="nombres" name="nombres" class="form-control" data-ng-model="credentials.nombres" placeholder="Nombres">
                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos">Apellidos</label>
                                            <input type="text" id="apellidos" name="apellidos" class="form-control" data-ng-model="credentials.apellidos" placeholder="Apellidos">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Correo</label>
                                            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Correo">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Contraseña</label>
                                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
                                        </div>
                                        <div data-ng-show="error" class="text-center text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                        <div class="text-center form-group">

                                            <div class="text-center form-group">
                                                <button type="submit" class="btn btn-primary">Registrarme <i class="fa fa-fw fa-pencil"></i></button>&nbsp;&nbsp;
                                                <a href="/#!/signin"  class="btn btn-primary" > Ingresar con mi cuenta <i class="fa fa-fw fa-unlock-alt"></i></a>
                                            </div>
                                        </div>

                                    </form>






                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>

                    </div>
                    <!-- // END col-app -->

                </div>
                <!-- // END col-app.col-unscrollable -->

            </div>
            <!-- // END col-table-row -->

        </div>
        <!-- // END col-table -->

    </div>
    <!-- // END col-separator.box -->
    </div>
</section>