<div class="row" data-ng-controller="PasswordController">
    <!-- Content START -->
    <div class="col-separator col-separator-first box col-unscrollable col-fs" style="overflow-x: hidden;">
        <div class="col-table ">
            <div class="col-table-row">
                <div class="col-app col-unscrollable tab-content">
                    <div tabindex="5000" style="overflow-y: hidden;" class="col-app lock-wrapper lock-bg-1 tab-pane active animated fadeIn hasNiceScroll" id="lock-1-1">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <br>

                        <div class=" panel panel-default col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                            <div class="panel-body">
                            <h3 class="col-md-12 text-center">Recupera tu Contraseña</h3>
                            <p class="small text-center">Escribe tu nombre de usuario.</p>

                            <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
                                    </div>
                                    <div class="text-center form-group">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                    <div data-ng-show="error" class="text-center text-danger">
                                        <strong>{{error}}</strong>
                                    </div>
                                    <div data-ng-show="success" class="text-center text-success">
                                        <strong>{{success}}</strong>
                                    </div>
                                </fieldset>
                            </form>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>