
    <div class="timeline-cover" data-ng-show="authentication.user">
        <div class="cover image ">
            <div class="top">
                <img class="img-responsive" src="social/php/assets/images/cover.png">
            </div>
            <ul class="list-unstyled">
                <li ui-route="/yo/muro" ng-class="{active: $uiRoute }"><a href="/#!/yo/muro"></i> <span>Mi Muro</span></a></li>
                <li ui-route="/settings/profile" ng-class="{active: $uiRoute }" ><a href="/#!/settings/profile"><i class="fa fa-fw fa-user"></i> <span>Información</span></a></li>
                <li ui-route="/yo/fotos" ng-class="{active: $uiRoute }" ><a href="/#!/yo/fotos"><i class="icon-photo-camera"></i> <span>Fotos</span> <small>(0)</small></a></li>
                <li ui-route="/yo/representados" ng-class="{active: $uiRoute }" ><a href="/#!/yo/representados"><i class="icon-group"></i> <span> Representados </span> <small>({{authentication.user.numeroRepresentados || '0' }})</small></a></li>
                <li ui-route="/yo/mensajes" ng-class="{active: $uiRoute }" ><a href="/#!/yo/mensajes"><i class="icon-envelope-fill-1"></i> <span>Mensajes</span> <small>(0)</small></a></li>
            </ul>
        </div>
        <div class="widget cover image">
            <div class="widget-body padding-none margin-none">
                <div class="photo"  popover="<input class='hide' id='fileupload' type='file' name='files[]' data-url='/upload' multiple><a href='#' ><i class='fa fa-photo fa-fw'></i> Elegir una foto...</a><br><a href='#' ><i class='fa fa-cloud-upload fa-fw'></i> Subir una foto...</a>" popover-placement="bottom"   >

                    <img class="img-circle" data-ng-src="{{authentication.user.avatar || 'social/php/assets/images/people/100/22.png'}}">

                </div>

                <div class="innerAll border-right pull-left">
                    <h3 class="margin-none" data-ng-bind="authentication.user.displayName"></h3>
                    <span data-ng-bind="authentication.user.email"></span>
                </div>
                <div class="innerAll pull-left">
                    <p class="margin-none "> <i class="fa fa-quote-left text-muted fa-fw"></i> Enseñen, y tendrán quien sepa; eduquen, y tendrán quien haga.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

