<div data-ng-controller="SettingsController">
    <div data-ng-include=" '/modules/users/views/yo/cover.client.view.html' "></div>
    <div data-toggle="collapse-widget" class="widget widget-gallery">
        <div class="widget-head"><h4 class="heading">Photo Gallery</h4></div>
        <div class="widget-body">

            <!-- Tabs -->
            <div class="tabsbar">
                <ul>
                    <li class="glyphicons camera active"><a href=""><i></i> Ver todas las fotos <strong>(43)</strong></a></li>
                    <li class="glyphicons folder_open"><a href=""><i></i> Albumes <strong>(3)</strong></a></li>
                    <li class="glyphicons circle_plus tab-stacked"><a href=""><i></i> <span>Subir Fotografia</span></a></li>
                    <li class="glyphicons folder_plus tab-stacked"><a href=""><i></i> <span>Crear Album</span></a></li>
                </ul>
            </div>
            <!-- // Tabs END -->

            <!-- Gallery -->
            <div class="gallery">
                <ul class="row">

                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/1.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/1.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/2.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/2.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/3.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/3.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/4.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/4.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/5.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/5.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/6.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/6.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/7.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/7.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/8.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/8.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/9.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/9.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/10.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/10.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/11.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/11.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->
                    <!-- Gallery item -->
                    <li class="col-md-2">
                        <a data-gallery="gallery-3" href="social/php/assets/images/gallery-2/12.jpg" class="thumb no-ajaxify">
                            <img class="img-responsive" alt="photo" src="social/php/assets/images/gallery-2/12.jpg">
                        </a>
                    </li>
                    <!-- // Gallery item END -->

                </ul>
            </div>
            <!-- // Gallery END -->

            <!-- Pagination -->
            <div class="btn-group">
                <a class="btn disabled btn-small btn-default glyphicons standard chevron-left"><i></i></a>
                <a class="btn btn-small btn-default glyphicons standard chevron-right"><i></i></a>
            </div>
            <span class="innerLR">1-6 out of 43</span>
            <!-- // Pagination END -->

        </div>
    </div>
</div>
