<div data-ng-controller="SettingsController">
<div data-ng-include=" '/modules/users/views/yo/cover.client.view.html' "></div>
<div class="widget widget-messages widget-heading-simple widget-body-white">
<div class="widget-body padding-none margin-none">

<div class="row row-merge borders">
<div class="col-md-3 listWrapper" style="height: 535px;">
    <div class="innerAll">
        <form class="form-inline margin-none" autocomplete="off">
            <div class="input-group input-group-sm">
                <input type="text" placeholder="Buscar Mensajes .." class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-primary btn-xs pull-right" type="button"><i class="fa fa-search"></i></button>
								</span>
            </div>
        </form>
    </div>
    <div class="bg-gray text-center strong border-top innerAll half">1490 mensajes <i class="fa fa-circle-arrow-down"></i></div>
    <ul class="list-unstyled">
        <li class="border-bottom  bg-primary">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <a href="">
                        <img alt="Image" src="social/php/assets/images/people/50/16.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <div><span class="strong">Prof. Medina</span> <small class="text-italic pull-right label label-default">2 dias</small></div>
                    <div>Ultimo comentario...</div>
                </div>
            </div>
        </li>
        <li class="border-bottom ">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <a href="">
                        <img alt="Image" src="social/php/assets/images/people/50/17.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <div><span class="strong">Joanne</span> <small class="text-italic pull-right label label-default">2 dias</small></div>
                    <div>Ultimo comentario...</div>
                </div>
            </div>
        </li>
        <li class="border-bottom ">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <a href="">
                        <img alt="Image" src="social/php/assets/images/people/50/18.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <div><span class="strong">Adrian</span> <small class="text-italic pull-right label label-default">2 dias</small></div>
                    <div>Ultimo comentario...</div>
                </div>
            </div>
        </li>
        <li class="border-bottom ">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <a href="">
                        <img alt="Image" src="social/php/assets/images/people/50/19.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <div><span class="strong">Carmen</span> <small class="text-italic pull-right label label-default">2 dias</small></div>
                    <div>Ultimo comentario...</div>
                </div>
            </div>
        </li>
        <li class="border-bottom ">
            <div class="media innerAll">
                <div class="media-object pull-left hidden-phone">
                    <a href="">
                        <img alt="Image" src="social/php/assets/images/people/50/20.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <div><span class="strong">Pedro</span> <small class="text-italic pull-right label label-default">2 dias</small></div>
                    <div>Ultimo comentario...</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="col-md-9 detailsWrapper" style="height: 535px;">


    <!-- User -->
    <div class="bg-primary">
        <div class="media">
            <a class="pull-left" href="">
                <img width="65" class="media-object" src="social/php/assets/images/people/100/13.jpg">
            </a>
            <div class="media-body innerTB innerR">
                <div class="innerT half pull-right">
                    <a data-toggle="collapse" class=" btn btn-default bg-white btn-sm" href="#type">
                        <i class="fa fa-pencil"></i> Escribir
                    </a>
                </div>
                <h4 class="text-white pull-left innerAll strong display-block margin-none" href="">Maria Salas</h4>


            </div>

        </div>
    </div>
    <div class="bg-gray innerAll text-center margin-none"><a class="text-muted lead" href=""><i class="icon-time-clock"></i> Ver Conversaciones</a></div>
    <div class="collapse border-top" id="type">
        <textarea placeholder="Escribe tu Mensaje..." class="form-control rounded-none border-none" type="text"></textarea>
    </div>

    <div class="widget border-top padding-none margin-none">

        <!--  Message -->
        <div class="media margin-none innerAll">
            <a class="pull-left hidden-xs" href="">
                <img width="60" class="media-object" src="social/php/assets/images/people/100/16.jpg">
            </a>
            <div class="media-body innerTB">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerT half">
                            <div class="media">
                                <div class="pull-left">
                                    <a class="strong text-inverse " href="">Prof. Juan Medina</a>
                                    <span class="innerR text-muted visible-xs">Jan 15th, 2014 </span>
                                </div>
                                <div class="media-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <i class="icon-time-clock pull-right text-muted innerT half fa fa-2x"></i>
										<span class="pull-right innerR innerT text-right  text-muted">
										Jan 15th, 2014
										</span>
                    </div>
                </div>
            </div>

        </div>

        <!--  Message -->
        <div class="media margin-none bg-gray border-top innerAll">
            <a class="pull-left hidden-xs" href="">
                <img width="60" class="media-object" src="social/php/assets/images/people/100/13.jpg">
            </a>
            <div class="media-body innerTB">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerT half">
                            <div class="media">
                                <div class="pull-left">
                                    <a class="strong text-inverse " href="">Maria Salas</a>
                                    <span class="innerR text-muted visible-xs">Jan 15th, 2014 </span>
                                </div>
                                <div class="media-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, in.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <i class="icon-time-clock pull-right text-muted innerT half fa fa-2x"></i>
										<span class="pull-right innerR innerT text-right  text-muted">
										Jan 15th, 2014
										</span>
                    </div>
                </div>
            </div>

        </div>

        <!--  Message -->
        <div class="media margin-none border-top innerAll">
            <a class="pull-left hidden-xs" href="">
                <img width="60" class="media-object" src="social/php/assets/images/people/100/16.jpg">
            </a>
            <div class="media-body innerTB">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerT half">
                            <div class="media">
                                <div class="pull-left">
                                    <a class="strong text-inverse " href="">Prof. Juan Medina</a>
                                    <span class="innerR text-muted visible-xs">Jan 15th, 2014 </span>
                                </div>
                                <div class="media-body">
                                    Hola buen dia!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <i class="icon-time-clock pull-right text-muted innerT half fa fa-2x"></i>
										<span class="pull-right innerR innerT text-right  text-muted">
										Jan 15th, 2014
										</span>
                    </div>
                </div>
            </div>

        </div>


        <!--  Message -->
        <div class="media margin-none bg-gray border-top innerAll">
            <a class="pull-left hidden-xs" href="">
                <img width="60" class="media-object" src="social/php/assets/images/people/100/13.jpg">
            </a>
            <div class="media-body innerTB">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerT half">
                            <div class="media">
                                <div class="pull-left">
                                    <a class="strong text-inverse " href="">Maria Salas</a>
                                    <span class="innerR text-muted visible-xs">Jan 15th, 2014 </span>
                                </div>
                                <div class="media-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, in.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <i class="icon-time-clock pull-right text-muted innerT half fa fa-2x"></i>
										<span class="pull-right innerR innerT text-right  text-muted">
										Jan 15th, 2014
										</span>
                    </div>
                </div>
            </div>

        </div>

        <!--  Message -->
        <div class="media margin-none border-top innerAll">
            <a class="pull-left hidden-xs" href="">
                <img width="60" class="media-object" src="social/php/assets/images/people/100/16.jpg">
            </a>
            <div class="media-body innerTB">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="innerT half">
                            <div class="media">
                                <div class="pull-left">
                                    <a class="strong text-inverse " href="">Maria Salas</a>
                                    <span class="innerR text-muted visible-xs">Jan 15th, 2014 </span>
                                </div>
                                <div class="media-body">
                                    Hola buen dia!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <i class="icon-time-clock pull-right text-muted innerT half fa fa-2x"></i>
										<span class="pull-right innerR innerT text-right  text-muted">
										Jan 15th, 2014
										</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>

</div>
