<div data-ng-controller="SettingsController">
<div data-ng-include=" '/modules/users/views/yo/cover.client.view.html' "></div>
<div class="col-md-5">
    <div class="widget">
        <div class="innerAll">
            <h3 class="margin-none" data-ng-bind="authentication.user.displayName"></h3>
            <div class="media innerB">
                <a class="pull-left" href="">
                    <img width="75" alt="" src="/social/php/assets/images/people/100/22.png">
                </a>

            </div>

            <div class="row border-top">

                <div class="col-sm-12">
                    <h5 class="innerT">Amigos Cercanos</h5>
                    <div class="widget bg-gray">
                        <div class="innerAll">
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/1.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/2.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/3.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/4.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/5.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/6.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/7.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/8.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/9.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/10.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/11.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/12.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/13.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/14.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/15.jpg">
                            </a>
                            <a href="">
                                <img class="innerR innerB half" alt="" src="/social/php/assets/images/people/50/16.jpg">
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="widget bg-gray innerAll">
        <!-- WIDGET START -->
        <div class="widget widget-heading-simple widget-body-white">

            <!-- Widget Heading -->
            <div class="widget-head">
                <h4 class="heading"><i class=" fa fa-twitter-square icon-twitter"></i>Twitter</h4>
            </div>
            <!-- // Widget Heading END -->

            <div data-builder-exclude="element children" class="widget-body">
                <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
            </div>
        </div>
        <!-- // WIDGET END -->

        <!-- WIDGET START -->
        <div class="widget widget-heading-simple widget-body-white">

            <!-- Widget Heading -->
            <div class="widget-head">
                <h4 class="heading"><i class=" fa fa-facebook-square icon-facebook"></i>Facebook</h4>
            </div>
            <!-- // Widget Heading END -->

            <div data-builder-exclude="element children" class="widget-body">
                <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
            </div>
        </div>
        <!-- // WIDGET END -->

        <!-- WIDGET START -->
        <div class="widget widget-heading-simple widget-body-white">

            <!-- Widget Heading -->
            <div class="widget-head">
                <h4 class="heading"><i class=" fa  fa-google-plus-square icon-gplus"></i>Google plus</h4>
            </div>
            <!-- // Widget Heading END -->

            <div data-builder-exclude="element children" class="widget-body">
                <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
            </div>
        </div>
        <!-- // WIDGET END -->

        <!-- WIDGET START -->
        <div class="widget widget-heading-simple widget-body-white">

            <!-- Widget Heading -->
            <div class="widget-head">
                <h4 class="heading"><i class=" fa fa-instagram icon-instagram"></i>Instagram</h4>
            </div>
            <!-- // Widget Heading END -->

            <div data-builder-exclude="element children" class="widget-body">
                <div data-images="false" data-type="slide" data-gridalicious="false" class="jstwitter"><span class="label label-default">Loading ... </span></div>
            </div>
        </div>
        <!-- // WIDGET END -->

    </div>
</div>
<div class="col-md-7">
<div class="wizard">
    <div class="widget widget-tabs widget-tabs-responsive">

        <!-- Widget heading -->
        <div class="widget-head">
            <ul>
                <li class="active"><a data-toggle="tab" class="glyphicons pencil" href="#tab1-1"><i></i>Estado</a></li>
                <!--<li><a data-toggle="tab" class="glyphicons camera" href="#tab2-1"><i></i>Foto/Video</a></li>-->

            </ul>
        </div>
        <!-- // Widget heading END -->

        <div class="widget-body">
            <div class="tab-content">

                <!-- Step 1 -->
                <div id="tab1-1" class="tab-pane active">
                    <div class="row">

                        <div class="col-md-12">
                            <textarea id="publicacion" placeholder="Escribe tu comentario aqui..." class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <!-- // Step 1 END -->

                <!--&lt;!&ndash; Step 2 &ndash;&gt;-->
                <!--<div id="tab2-1" class="tab-pane">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; // Step 2 END &ndash;&gt;-->



            </div>

            <!-- Wizard pagination controls -->
            <ul class="pagination margin-bottom-none">
                <!--<li class=""><a class="fa fa-camera"></a> </li>-->
                <li class="next primary"><a class="no-ajaxify" href="#" data-ng-click="publicar()" >Publicar</a></li>
            </ul>
            <!-- // Wizard pagination controls END -->

        </div>
    </div>
</div>
<!--Input de Comentario BEGIN-->
<!--
<div class="widget" >

     Content 
    <div class="innerAll">
       <span>Estado</span> <i class="fa fa-pencil-square"></i>
        
    </div>

    <div class="input-group comment">
        <input type="text" placeholder="Escribe tu  comentario aqui..." class="form-control">
        <div class="input-group-btn">
            <button href="#" class="btn btn-primary" type="button"><i class="fa fa-comment"></i></button>
        </div>
    </div>

</div>
-->
<!--Input de Comentario END-->
    <!--Comentarios & posts BEGIN-->
    <div class="widget" >

        <!-- Info -->
        <div class="bg-primary">
            <div class="media">
                <a class="pull-left" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/1.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                <div class="media-body innerTB half">
                    <a class="pull-right innerT innerR text-white" href="#">
                        <i class="icon-reply-all-fill fa fa-2x "></i>
                    </a>
                    <a class="text-white strong display-block" href="">Joanne Smith</a>
                    <span>added <a class="text-white strong" href="">Photos</a> on 15th January, 2014 <i class="icon-time-clock"></i></span>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="innerAll">
            <p class="lead">Late Night Show Photos</p>
            <a href=""><img class="img-post display-block-inline" alt="" src="social/php/assets/images/people/fotos/1.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            <a href=""><img class="img-post display-block-inline" alt="" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            <a href=""><img class="img-post display-block-inline" alt="" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
        </div>

        <!-- Comment -->
        <div class="bg-gray innerAll border-top border-bottom text-small ">
            <span>Ver todos <a class="text-primary" href="">2 Comments</a></span>
        </div>

        <!-- First Comment -->
        <div class="media border-bottom margin-none bg-gray">
            <a class="pull-left innerAll" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            <div class="media-body innerTB">
                <a class="pull-right innerT innerR text-muted" href="#">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a class="strong text-inverse" href="">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a class="text-small" href="">mark it</a>
                <div>- Happy B-Day!</div>

            </div>
        </div>

        <!-- Second Comment -->
        <div class="media margin-none bg-gray">
            <a class="pull-left innerAll" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/1.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            <div class="media-body innerTB">
                <a class="pull-right innerT innerR" href="#"><i class="icon-reply-all-fill fa fa-2x text-muted "></i></a>
                <a class="strong text-inverse" href="">Jenny Adams</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a class="text-small" href="">mark it</a>
                <div>- Happy Birthday Hun...</div>
            </div>
        </div>

        <div class="input-group comment">
            <input type="text" placeholder="Escribe tu  comentario aqui..." class="form-control">
            <div class="input-group-btn">
                <button href="#" class="btn btn-primary" type="button"><i class="fa fa-comment"></i></button>
            </div>
        </div>

    </div>
    <div class="widget" >
        <!-- Info -->
        <div class="bg-primary">
            <div class="media">
                <a class="pull-left" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/1.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                <div class="media-body innerTB half">
                    <a class="pull-right innerT innerR text-white" href="#">
                        <i class="icon-reply-all-fill fa fa-2x "></i>
                    </a>
                    <a class="text-white strong display-block" href="">Joanne Smith</a>
                    <span><a class="text-white strong" href="">Checked in</a> on 15th January, 2014 <i class="icon-time-clock"></i></span>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="innerAll">
            <div class="row">
                <div class="col-md-6">
                    <div style="height: 180px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;" id="google-map-json" class="map_canvas"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;" class="gm-style"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; position: absolute; left: -275px; top: -112px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -19px; top: -112px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -19px; top: 144px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -275px; top: 144px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 237px; top: -112px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 237px; top: 144px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -275px; top: -112px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -19px; top: -112px;"><canvas draggable="false" style="-moz-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;" height="256" width="256"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -19px; top: 144px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -275px; top: 144px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 237px; top: -112px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 237px; top: 144px;"></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; position: absolute; left: -275px; top: -112px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34949!3i19842!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div><div style="width: 256px; height: 256px; position: absolute; left: -19px; top: -112px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34950!3i19842!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div><div style="width: 256px; height: 256px; position: absolute; left: -19px; top: 144px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34950!3i19843!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div><div style="width: 256px; height: 256px; position: absolute; left: -275px; top: 144px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34949!3i19843!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div><div style="width: 256px; height: 256px; position: absolute; left: 237px; top: -112px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34951!3i19842!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div><div style="width: 256px; height: 256px; position: absolute; left: 237px; top: 144px;"><img style="width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i16!2i34951!3i19843!2m3!1e0!2sm!3i276148712!3m9!2ses-CL!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!20m1!1b1" draggable="false"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="http://maps.google.com/maps?ll=57.695962,11.98856&amp;z=16&amp;t=m&amp;hl=es-CL&amp;gl=US&amp;mapclient=apiv3" title="Haz clic para ver esta área en Google Maps"><div style="width: 62px; height: 26px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false"></div></a></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 122px; bottom: 0px; width: 84px;"><div draggable="false" style="-moz-user-select: none;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Datos del mapa</a><span style="display: none;">Datos del mapa &copy;2014 Google</span></div></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto,Arial,sans-serif; color: rgb(34, 34, 34); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); z-index: 10000002; display: none; width: 138px; height: 138px; position: absolute; left: 5px; top: 5px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Datos del mapa</div><div style="font-size: 13px;">Datos del mapa &copy;2014 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img style="position: absolute; left: -2px; top: -336px; width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto,Arial,sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Datos del mapa &copy;2014 Google</div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; position: absolute; -moz-user-select: none; right: 0px; bottom: 0px;" draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="http://www.google.com/intl/es-CL_US/help/terms_maps.html" target="_blank">Condiciones del servicio</a></div></div><div draggable="false" style="-moz-user-select: none; position: absolute; right: 0px; bottom: 0px; display: none;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a target="_new" title="Informar a Google errores en las imágenes o el mapa de carreteras." style="font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;" href="http://maps.google.com/maps?ll=57.695962,11.98856&amp;z=16&amp;t=m&amp;hl=es-CL&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic">Informar un error en el mapa</a></div></div><div class="gmnoprint" style="margin: 5px; -moz-user-select: none; position: absolute; left: 0px; top: 0px;" draggable="false" controlwidth="20" controlheight="39"><div class="gmnoprint" style="opacity: 0.6; display: none; position: absolute;" controlwidth="0" controlheight="0"><div style="width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;" title="Rotar mapa 90 grados"><img style="position: absolute; left: -38px; top: -360px; width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div></div><div class="gmnoprint" controlwidth="20" controlheight="39" style="position: absolute; left: 0px; top: 0px;"><div style="width: 20px; height: 39px; overflow: hidden; position: absolute;"><img style="position: absolute; left: -39px; top: -401px; width: auto; height: auto; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px auto; display: block;" src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div><div style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;" title="Acercar"></div><div style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;" title="Alejar"></div></div></div></div></div>
                </div>
                <div class="col-md-6">
                    <div class="strong text-inverse innerB half"> Just Checked in at:</div>
                    <div class="media margin-none">
                        <a class="pull-left " href="">
                            <img class="media-object" data-src="holder.js/50x50" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAB6ElEQVRoge2U26rqMBRF9/9/ymx6pVXoDWoRUbQgiuCD6ENbqbb5hXmedsBzQT27cHI2eRhQWGFmjSRdH1JKfgc+/nUDRsSIaI4R0Q0johtGRDeMiG4YEd0wIrphRHTjjyJpmhLAA0EQqPr9fud8PqfruhRCMEkSXi6XlzceO/+pSJqmzLKMWZaxLEtVn81mBMAwDJllGQHQdV3ebre3RMbKfyrSdd0vtbZtaVkWAfB6vVJKySRJCIBVVfFwOBAAJ5MJh2FgXdcUQtC2bTZN8+X8vxJxHIeO4zCOY55OJ0opeTweCYC+76v1y+WSAFgUBaWULIqCALjZbFQTu91utPyXRfI8Z5qmLMuSURQRAIUQrOuau92OABhFkVq/Xq8JgEmSUErJruvo+756/3mej5r/ssgwDOq773sGQUAA3G63L5/Y5+YA1GmPmf9UpO979ZZ/t1HTNE/fcNM0tG2bQggC4HQ6Vc2Pkf+SSNd1tCyLSZI8XL3jOGzb9mGqRFHEPM9Vves6DsPAOI4JgPv9Xv0vq9VqlPy3bmSxWDAMQwoh6Hkesyx7mOM/z/k4jlW9qio1Wj8b9zyPlmXxfD5/Of+tf+R/w4johhHRDSOiG0ZEN4yIbhgR3TAiumFEdMOI6IYR0Y1vI/IDQlxqQnJGZlUAAAAASUVORK5CYII=" alt="50x50" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
                        </a>
                        <div class="media-body">
                            <a class="strong" href="#">Hotel Transilvania</a>
                            <p class="margin-none text-small">
                                <i style="color:#EB9618;" class="fa fa-star"></i>
                                <i style="color:#EB9618;" class="fa fa-star"></i>
                                <i style="color:#EB9618;" class="fa fa-star"></i>
                                <i style="color:#EB9618;" class="fa fa-star"></i>
                                <i style="color:#ccc;" class="fa fa-star"></i>
                            </p>
                            <small class="text-muted ">342 Likes</small>
                        </div>
                        <p class="margin-none innerTB half">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, doloribus eum placeat deserunt voluptatibus aperiam.</p>
                        <a class="btn btn-xs btn-inverse" href="#">View</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Content -->

        <a data-toggle="collapse" class="innerAll border-top display-block " href="#comments-collapse"><i class="innerLR fa fa-bars"></i> Ver todos los comentarios <span class="text-muted">2+ comments</span></a>

        <div id="comments-collapse" class="collapse">
            <!-- First Comment -->
            <div class="media border-bottom margin-none bg-gray">
                <a class="pull-left innerAll" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                <div class="media-body innerTB">
                    <a class="pull-right innerT innerR text-muted" href="#">
                        <i class="icon-reply-all-fill fa fa-2x "></i>
                    </a>
                    <a class="strong text-inverse" href="">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a class="text-small" href="">mark it</a>
                    <div>Nice place...</div>

                </div>
            </div>

            <!-- Second Comment -->
            <div class="media margin-none ">
                <a class="pull-left innerAll" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/1.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                <div class="media-body innerTB">
                    <a class="pull-right innerT innerR" href="#"><i class="icon-reply-all-fill fa fa-2x text-muted "></i></a>
                    <a class="strong text-inverse" href="">Jenny Adams</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a class="text-small" href="">mark it</a>
                    <div>There is awesome...I was there last year</div>
                </div>
            </div>
        </div>
        <!--  Comment -->
        <div class="media border-top margin-none bg-gray">
            <a class="pull-left innerAll" href=""><img width="50" class="media-object" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
            <div class="media-body innerTB">
                <a class="pull-right innerT innerR text-muted" href="#">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a class="strong text-inverse" href="">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a class="text-small" href="">mark it</a>
                <div>Have a nice holiday there!</div>
            </div>
        </div>
        <div class="input-group comment">
            <input type="text" placeholder="Escribe tu  comentario aqui..." class="form-control">
            <div class="input-group-btn">
                <button href="#" class="btn btn-primary" type="button"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
    <div class="widget" >
        <a href=""><img class="img-responsive" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;" alt="" src="social/php/assets/images/people/fotos/3.jpg"></a>
        <!-- Info -->
        <div class="bg-primary">
            <div class="innerAll">
                <a class="pull-right innerT innerR text-white" href="#"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                <div class="innerAll">
                    <a class="text-white text-medium" href="">Fun Party in Rome </a>
                    <span class="display-block">on 15th January, 2014</span>
                </div>
            </div>
        </div>

        <!-- Comment -->
        <div class="bg-gray border-bottom innerAll text-small ">
            <span>Ver todos <a class="strong text-primary" href="">1 Comment</a></span>
        </div>

        <!-- First Comment -->
        <div class="media margin-none bg-gray">
            <a class="pull-left innerAll" href="">
                <img width="50" class="media-object" src="social/php/assets/images/people/fotos/2.jpg" style="width: auto; height: auto; display: block; margin-left: auto; margin-right: auto;">
            </a>
            <div class="media-body innerTB">
                <a class="pull-right innerT innerR text-muted" href="#">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a class="strong text-inverse" href="">Adrian Demian</a> 	<small class="text-muted display-block ">on Jan 15th, 2014</small>
                <div>- Happy B-Day!</div>
                <a class="text-small" href="">mark it</a>

            </div>
        </div>
        <div class="input-group comment">
            <input type="text" placeholder="Escribe tu  comentario aqui..." class="form-control">
            <div class="input-group-btn">
                <button href="#" class="btn btn-primary" type="button"><i class="fa fa-comment"></i></button>
            </div>
        </div>
    </div>
<!--Comentarios & posts END-->
</div>
</div>


