<div data-ng-controller="SettingsController" >

    <div data-ng-include=" '/modules/users/views/yo/cover.client.view.html' "></div>
    <div class="{{classDetalle}}" id="detalleRepresentado"  data-ng-if="Representados.estudianteActual">
        <div class="innerAll">
            <h4 class="margin-none" data-ng-bind="Representados.estudianteActual.displayName"></h4>
            <div class="media innerB">
                <a class="pull-left" href="">
                    <img width="117" alt="" data-ng-src="{{ Representados.estudianteActual.avatar || avatarEstudianteDefault }}">
                </a>
                <div class="media-body">
                    <div class="widget-body padding-none">
                        <div class="innerAll">
                            <p class=" margin-none"><i class="{{Representados.estudianteActual.sexoIcon}}"></i> <span>{{Representados.estudianteActual.sexo || 'No tiene sexo'}}</span></p>
                        </div>
                        <div class="border-top innerAll">
                            <p class=" margin-none"><i class="fa fa-barcode fa-fw text-muted text-primary"></i> <span data-ng-bind=" Representados.estudianteActual.cedula || Representados.estudianteActual.cedula_escolar2 || 'No tiene documento de identidad' "></span></p>
                        </div>
                        <div class="border-top innerAll">
                            <p class=" margin-none"><i class="fa fa-calendar fa-fw text-muted text-primary"></i> <span data-ng-bind="Representados.estudianteActual.fecha_nacimiento | date:'dd/MM/yyyy' || 'No tiene Fecha de Nacimiento' "></span></p>
                        </div>
                        <div class="border-top innerAll">
                            <p class=" margin-none"><i class="fa fa-group fa-fw text-muted text-primary"></i> <span data-ng-bind="Representados.estudianteActual.afinidad || 'No tiene Afinidad' "></span></p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="widget">
                        <div class="widget-head border-bottom bg-gray">
                            <h5 class="innerAll pull-left margin-none">Información Personal</h5>

                        </div>
                        <div class="widget-body padding-none">
                            <div class="innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Estado</b>: <span data-ng-bind="Representados.estudianteActual.estado || 'No tiene Estado'"></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Municipio</b>: <span data-ng-bind="Representados.estudianteActual.municipio  || 'No tiene Municipio' "></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Parroquia</b>: <span data-ng-bind="Representados.estudianteActual.parroquia  || 'No tiene Parroquia' "></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Población</b>: <span data-ng-bind="Representados.estudianteActual.poblacion || 'No tiene Población' "></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Urbanización</b>: <span data-ng-bind="Representados.estudianteActual.urbanizacion  || 'No tiene Urbanización' "></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <b>Dirección</b>: <span data-ng-bind="Representados.estudianteActual.direccion_dom || 'No tiene Dirección Domiciliaria' "></span></p>
                            </div>



                        </div>

                    </div>
                    <div class="widget">
                        <div class="widget-head border-bottom bg-gray">
                            <h5 class="innerAll pull-left margin-none">Información Academica</h5>

                        </div>
                        <div class="widget-body padding-none">
                            <div class="innerAll">
                                <p class=" margin-none"><i class="fa fa-building-o fa-fw text-muted text-primary"></i> <span data-ng-bind="Representados.estudianteActual.plantel_actual || 'No estudia actualmente'"></span></p>
                            </div>
                            <div class="border-top innerAll">
                                <p class=" margin-none"><i class="fa fa-asterisk fa-fw text-muted text-primary"></i> <span data-ng-bind="Representados.estudianteActual.grado_actual || 'No tiene grado actual' "></span></p>
                            </div>



                        </div>
                        <div class="widget bg-gray innerAll margin-none">
								<span class="innerR innerB">
									<i data-placement="top" data-original-title="Constancia de Inscripcion" data-toggle="tooltip" class="box-generic innerAll icon-paper-document-image fa fa-4x"></i>
								</span>
								<span class="innerR innerB">
									<i data-placement="top" data-original-title="Constancia de Estudio"   data-toggle="tooltip" class=" box-generic innerAll  icon-paper-document fa fa-4x"></i>
								</span>
								<span class="innerR innerB">
									<i data-placement="top" data-original-title="Constancia de Estudio"   data-toggle="tooltip" class="box-generic innerAll  icon-newspaper fa fa-4x"></i>
								</span>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <div class="{{classRepresentados}}" data-ng-init="findMys()" data-ng-if="!Representados.estudianteActual.nombres" >

        <div class="widget bg-white">

            <div class="innerAll">
                <h4 class="margin-none info">Representados</h4>
                <div class="innerAll">
                <div class="row row-merge ">


                    <div class="col-md-12 col-lg-12 bg-white border-bottom" data-ng-repeat="estudiante in Representados.estudiantes">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="media">
                                    <a href="" data-ng-click="seleccionarEstudiante(estudiante)" class="pull-left margin-none">
                                        <img alt="..." data-ng-src="{{estudiante.avatar || avatarEstudianteDefault }}" width="70"  class="img-clean">
                                    </a>
                                    <div class="media-body innerAll inner-1x padding-right-none padding-bottom-none">
                                        <h5 class="media-heading"><a class="text-inverse" href="" data-ng-bind="(estudiante.nombres | capitalize:true)+' '+(estudiante.apellidos | capitalize:true)" data-ng-click="seleccionarEstudiante(estudiante)"></a></h5>
                                        <p>
                                            <!-- <span class="text-success strong"><i class="fa fa-check"></i> Friend</span> &nbsp;  -->
                                            <i class="fa fa-fw fa-map-marker text-muted text-primary"></i> <span data-ng-bind="estudiante.grado_actual || 'No estudia Actualmente.'"></span>


                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-md-12 col-lg-12 bg-white" data-ng-show="!!!Representados.estudiantes.length">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="media">
                                    <div class="alert alert-primary">
                                        <!--<button data-dismiss="alert" class="close" type="button">×</button>-->
                                        <strong>No tienes representados registrados!</strong> <p>En caso de que esto no sea asi dirigete a la unidad educativa y solicita tu registro!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                </div>
            </div>
        </div>
    </div>

</div>
