<div data-ng-controller="SettingsController">
    <div data-ng-include=" '/modules/users/views/yo/cover.client.view.html' "></div>
    <div class="row">

        <div class="col-sm-6">
            <div class="widget">
                <div class="widget-head border-bottom bg-gray">
                    <h5 class="innerAll pull-left margin-none">Información Basica</h5>
                </div>
                <div class="widget-body padding-none">
                    <div class="innerAll">
                        <p class=" margin-none"><i class="fa fa-barcode fa-fw text-muted text-primary"></i> <span data-ng-bind="'CI:'+authentication.user.cedula || 'No tiene cedula' "></span></p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-male fa-fw text-muted text-primary"></i> <span data-ng-bind="authentication.user.displayName"></span></p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-calendar fa-fw text-muted text-primary"></i> <span data-ng-bind="authentication.user.fecha_nacimiento || 'No tiene fecha de nacimiento' "></span></p>
                    </div>

                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-user fa-fw text-muted text-primary"></i><b>Usuario:</b> <span data-ng-bind="authentication.user.username"></span>
                            <a class="text-muted" href="">
                                <i class="fa fa-pencil innerL"></i>
                            </a>
                        </p>



                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-lock fa-fw text-muted text-primary"></i><b>Contraseña:</b>  <span data-ng-bind=" '***********' "></span>
                            <a class="text-muted pull-rigt" href="">
                                <i class="fa fa-pencil innerL"></i>
                            </a>
                        </p>



                    </div>

                </div>
            </div>
            <div class="widget">
                <div class="widget-head border-bottom bg-gray">
                    <h5 class="innerAll pull-left margin-none">Datos de Contacto</h5>
                </div>
                <div class="widget-body padding-none">

                    <div class="innerAll">
                        <p class=" margin-none"><i class="fa fa-phone fa-fw text-muted text-primary"></i><span data-ng-bind="authentication.user.telefono_habitacion || ' Sin Telefono Fijo' "></span></p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-mobile-phone fa-fw text-muted text-primary"></i> <span data-ng-bind="authentication.user.telefono_movil || ' Sin Celular' "></span></p>
                    </div>
                    <div class="border-top innerAll">
                        <p class=" margin-none"><i class="fa fa-envelope fa-fw text-muted text-primary"></i> <span data-ng-bind="authentication.user.email"></span></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="innerAll bg-white">
                <h5>Biografia</h5>
                <div class="media innerB ">
                    <a class="pull-left" href="">
                        <img width="75" alt="" data-ng-src="{{ authentication.user.avatar || avatarDefault }}">
                    </a>
                    <div class="media-body" >
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, eveniet, dolores, sit omnis facere odio rerum laudantium temporibus nam nulla ratione quam quae sint illo similique quis nesciunt repudiandae quisquam.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
