<section data-ng-controller="EstudiantesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Estudiantes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="estudiante in estudiantes" data-ng-href="#!/estudiantes/{{estudiante._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="estudiante.created | date:'medium'"></span>
				by
				<span data-ng-bind="estudiante.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="estudiante.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!estudiantes.$resolved || estudiantes.length">
    	No Estudiantes yet, why don't you <a href="/#!/estudiantes/create">create one</a>?
    </div>
</section>