{% extends 'layout.server.view.html' %}

{% block content %}
<div id="content" data-ng-controller="HeaderController">

    <nav role="navigation" data-ng-show="authentication.user" class="navbar navbar-default top-nav navbar-fixed-top">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#navbar-fixed-layout-collapse" data-toggle="collapse" class="navbar-toggle btn btn-default" type="button">
                    <i class="fa fa-indent"></i>
                </button>
                <a href="/#!/principal" class="navbar-brand"><img alt="" src="social/php/assets/images/logo/logo.jpg"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar-fixed-layout-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">


                </ul>
                <form role="search" class="navbar-form navbar-left hidden-sm">
                    <div class="form-group inline-block">
                        <input type="text" placeholder="Buscar" class="form-control">
                    </div>
                    <button class="btn btn-inverse" type="submit"><i class="fa fa-search fa-fw"></i></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span class="pull-left innerR"><img class="img-circle" alt="user" data-ng-src=" {{authentication.users.avatar || 'social/php/assets/images/people/35/22.png' }}"></span>
                            <b class="caret"></b>
                          <span data-ng-bind="authentication.user.nombres"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/#!/settings/profile">Editar Perfil</a></li>
                            <li><a href="/#!/settings/password">Cambiar Contraseña</a></li>
                            <li class="divider"></li>
                            <li><a href="/auth/signout">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div data-ui-view data-ng-if="!authentication.user">

    </div>

    <div class="container" data-ng-show="authentication.user">
    <div class="innerAll" >

    <div class="row">
    <div class="col-lg-9 col-md-8">
        <div data-ui-view >

        </div>
    </div>

            <div class="col-md-4 col-lg-3" data-ng-controller="SettingsController"   >
                <!-- WIDGET START -->
<div class="representadoViewsLateral" >
    <div class="widget "  data-ng-init="findMys()" data-ng-if="authentication.user">
        <h5 class="innerAll margin-none border-bottom bg-primary"><b>Representados</b></h5>
        <div class="widget-body padding-none" style="overflow-y: auto;max-height: 300px;">

            <div class="media border-bottom innerAll margin-none" data-ng-repeat="estudiante in Representados.estudiantes">
                <img src="social/php/assets/images/people/35/22.png" class="pull-left media-object"/>
                <div class="media-body">
                    <a href="#" class="pull-right text-muted innerT half">
                        <i class="fa fa-file-text-o"></i> 1
                    </a>
                    <h5 class="margin-none"><a href="/#!/yo/representados" data-ng-click="seleccionarEstudiante(estudiante)" data-ng-bind="estudiante.nombres | capitalize:true +' '+estudiante.apellidos | capitalize:true " class="text-inverse"></a></h5>
                    <small data-ng-bind="estudiante.grado_actual || 'No estudia Actualmente.'" ></small>
                </div>
            </div>

        </div>
    </div>
</div>

                <!-- // WIDGET END -->



            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
