<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="serveStyles.css" />

    <script src="shared/assets/plugins/core_ajaxify_loadscript/script.min.js"></script>

    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

</head>

<body class="scripts-async menu-right-hidden ng-cloak">
<div class="container-fluid menu-hidden ">

<!-- Main Sidebar Menu -->
<div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary">


<div id="sidebar-social-wrapper">
<div id="brandWrapper">
    <a href="index.html"><span class="text">Social Admin Template</span></a>
</div>
<ul class="menu list-unstyled">
<li class="hasSubmenu">

    <a href="#menu-76a28d17ca4e507ba20a8027f843dd8f" data-toggle="collapse">


        <i class="icon-tv"></i>

        <span>Layout</span>



    </a>
    <ul class="collapse" id="menu-76a28d17ca4e507ba20a8027f843dd8f">
        <li class="">

            <a href="index.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;layout_fixed=false" class="no-ajaxify">


                <i class="fa fa-circle-o"></i>

                <span>Fluid Layout</span>



            </a>

        </li>
        <li class="">

            <a href="indexdbec.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;layout_fixed=true" class="no-ajaxify">


                <i class="fa fa-square-o"></i>

                <span>Fixed Layout</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu active">

    <a href="#menu-1cec9f3d1c4a181df346a74bd1dd7fb1" data-toggle="collapse">


        <i class="icon-ship-wheel"></i>

        <span>Timelines</span>



    </a>
    <ul class="collapse in" id="menu-1cec9f3d1c4a181df346a74bd1dd7fb1">
        <li class="active">

            <a href="index7359.html?v=v2.0.1-rc1">


                <i class="fa fa-clock-o"></i>

                <span>Timeline #1</span>



            </a>

        </li>
        <li class="">

            <a href="timeline_27359.html?v=v2.0.1-rc1">


                <i class="fa fa-clock-o"></i>

                <span>Timeline #2</span>



            </a>

        </li>
        <li class="">

            <a href="timeline_37359.html?v=v2.0.1-rc1">


                <i class="fa fa-clock-o"></i>

                <span>Timeline #3</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-3f6433bc577fcfc83e864ccc318bcb60" data-toggle="collapse">


        <i class="icon-flip-camera-fill"></i>

        <span>Photos</span>



    </a>
    <ul class="collapse" id="menu-3f6433bc577fcfc83e864ccc318bcb60">
        <li class="">

            <a href="media_17359.html?v=v2.0.1-rc1">


                <i class="fa fa-camera"></i>

                <span>Photos #1</span>



            </a>

        </li>
        <li class="">

            <a href="media_27359.html?v=v2.0.1-rc1">


                <i class="fa fa-camera"></i>

                <span>Photos #2</span>



            </a>

        </li>
        <li class="">

            <a href="media_37359.html?v=v2.0.1-rc1">


                <i class="fa fa-camera"></i>

                <span>Photos #3</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-479a97583408fd9102c633e641c2132c" data-toggle="collapse">


        <i class="icon-group"></i>

        <span>Friends</span>



    </a>
    <ul class="collapse" id="menu-479a97583408fd9102c633e641c2132c">
        <li class="">

            <a href="contacts_17359.html?v=v2.0.1-rc1">


                <i class="fa fa-group"></i>

                <span>Friends #1</span>



            </a>

        </li>
        <li class="">

            <a href="contacts_27359.html?v=v2.0.1-rc1">


                <i class="fa fa-group"></i>

                <span>Friends #2</span>



            </a>

        </li>
        <li class="">

            <a href="contacts_37359.html?v=v2.0.1-rc1">


                <i class="fa fa-group"></i>

                <span>Friends #3</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-c213d7b86737d6891ccbf74e9e5df14f" data-toggle="collapse">


        <i class="icon-user-1"></i>

        <span>About</span>



    </a>
    <ul class="collapse" id="menu-c213d7b86737d6891ccbf74e9e5df14f">
        <li class="">

            <a href="about_17359.html?v=v2.0.1-rc1">


                <i class="fa fa-user"></i>

                <span>About #1</span>



            </a>

        </li>
        <li class="">

            <a href="about_27359.html?v=v2.0.1-rc1">


                <i class="fa fa-user"></i>

                <span>About #2</span>



            </a>

        </li>
        <li class="">

            <a href="about_37359.html?v=v2.0.1-rc1">


                <i class="fa fa-user"></i>

                <span>About #3</span>



            </a>

        </li>
    </ul>

</li>
<li class="">

    <a href="messages7359.html?v=v2.0.1-rc1">


        <i class="icon-comment-typing"></i>

        <span>Messages</span>



    </a>

</li>
<li class="category border-top">




    <span>Skins</span>





</li>
<li class="reset">


    <div class="innerLR innerB border-bottom">
        <ul class="colors">
            <li class="active"><a href="index3fc3.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=style-default" style="background-color: #25ad9f" class="no-ajaxify innerAll half"><span class="hide">style-default</span></a></li>
            <li><a href="indexc9dc.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=green-army" style="background-color: #9FB478" class="no-ajaxify innerAll half"><span class="hide">green-army</span></a></li>
            <li><a href="index3815.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=alizarin-crimson" style="background-color: #F06F6F" class="no-ajaxify innerAll half"><span class="hide">alizarin-crimson</span></a></li>
            <li><a href="index141a.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=blue-gray" style="background-color: #5577b4" class="no-ajaxify innerAll half"><span class="hide">blue-gray</span></a></li>
            <li><a href="index058c.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=brown" style="background-color: #d39174" class="no-ajaxify innerAll half"><span class="hide">brown</span></a></li>
            <li><a href="index7fa0.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=purple-gray" style="background-color: #AF86B9" class="no-ajaxify innerAll half"><span class="hide">purple-gray</span></a></li>
            <li><a href="indexd47b.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=purple-wine" style="background-color: #CC6788" class="no-ajaxify innerAll half"><span class="hide">purple-wine</span></a></li>
            <li><a href="indexe782.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=black-and-white" style="background-color: #979797" class="no-ajaxify innerAll half"><span class="hide">black-and-white</span></a></li>
            <li><a href="indexe80b.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=amazon" style="background-color: #8BC4B9" class="no-ajaxify innerAll half"><span class="hide">amazon</span></a></li>
            <li><a href="index6f63.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=amber" style="background-color: #b0b069" class="no-ajaxify innerAll half"><span class="hide">amber</span></a></li>
            <li><a href="indexe098.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=android-green" style="background-color: #A9C784" class="no-ajaxify innerAll half"><span class="hide">android-green</span></a></li>
            <li><a href="index08e1.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=antique-brass" style="background-color: #B3998A" class="no-ajaxify innerAll half"><span class="hide">antique-brass</span></a></li>
            <li><a href="indexbc05.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=antique-bronze" style="background-color: #8D8D6E" class="no-ajaxify innerAll half"><span class="hide">antique-bronze</span></a></li>
            <li><a href="index74b5.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=artichoke" style="background-color: #B0B69D" class="no-ajaxify innerAll half"><span class="hide">artichoke</span></a></li>
            <li><a href="index80c4.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=atomic-tangerine" style="background-color: #F19B69" class="no-ajaxify innerAll half"><span class="hide">atomic-tangerine</span></a></li>
            <li><a href="index2aa3.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=bazaar" style="background-color: #98777B" class="no-ajaxify innerAll half"><span class="hide">bazaar</span></a></li>
            <li><a href="indexd9dd.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=bistre-brown" style="background-color: #C3A961" class="no-ajaxify innerAll half"><span class="hide">bistre-brown</span></a></li>
            <li><a href="index379b.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=green" style="background-color: #77ac40" class="no-ajaxify innerAll half"><span class="hide">green</span></a></li>
            <li><a href="index089d.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=bittersweet" style="background-color: #d6725e" class="no-ajaxify innerAll half"><span class="hide">bittersweet</span></a></li>
            <li><a href="indexe9b3.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=blueberry" style="background-color: #7789D1" class="no-ajaxify innerAll half"><span class="hide">blueberry</span></a></li>
            <li><a href="index5008.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=bud-green" style="background-color: #6fa362" class="no-ajaxify innerAll half"><span class="hide">bud-green</span></a></li>
            <li><a href="index13f6.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=coral" style="background-color: #7eccc2" class="no-ajaxify innerAll half"><span class="hide">coral</span></a></li>
            <li><a href="index82b4.html?module=admin&amp;url_rewrite=&amp;v=v2.0.1-rc1&amp;skin=burnt-sienna" style="background-color: #E4968A" class="no-ajaxify innerAll half"><span class="hide">burnt-sienna</span></a></li>
        </ul>
    </div>


</li>
<li class="hasSubmenu">

<a href="#menu-af3d072655c7b7a0d8571cc8e422464c" data-toggle="collapse">


    <i class="fa fa-th-large"></i>

    <span>Components</span>



</a>
<ul class="collapse" id="menu-af3d072655c7b7a0d8571cc8e422464c">
<li class="">

    <a href="ui7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>UI Elements</span>



    </a>

</li>
<li class="">

    <a href="icons7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Icons</span>



    </a>

</li>
<li class="">

    <a href="typography7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Typography</span>



    </a>

</li>
<li class="">

    <a href="calendar7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Calendar</span>



    </a>

</li>
<li class="">

    <a href="tabs7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Tabs</span>



    </a>

</li>
<li class="hasSubmenu">

    <a href="#menu-8919689a5a6ccbe509d97675ebe4e6d3" data-toggle="collapse">

        <span class="badge pull-right badge-primary">3</span>

        <i class="fa fa-circle-o"></i>

        <span>Tables</span>



    </a>
    <ul class="collapse" id="menu-8919689a5a6ccbe509d97675ebe4e6d3">
        <li class="">

            <a href="tables7359.html?v=v2.0.1-rc1">



                <span>Tables</span>



            </a>

        </li>
        <li class="">

            <a href="tables_responsive7359.html?v=v2.0.1-rc1">



                <span>Responsive Tables</span>



            </a>

        </li>
        <li class="">

            <a href="tables_pricing7359.html?v=v2.0.1-rc1">



                <span>Pricing Tables</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-e3356deabf9aff5a0af646bac42f1f12" data-toggle="collapse">

        <span class="badge pull-right badge-primary">4</span>

        <i class="fa fa-circle-o"></i>

        <span>Forms</span>



    </a>
    <ul class="collapse" id="menu-e3356deabf9aff5a0af646bac42f1f12">
        <li class="">

            <a href="form_wizards7359.html?v=v2.0.1-rc1">



                <span>Form Wizards</span>



            </a>

        </li>
        <li class="">

            <a href="form_elements7359.html?v=v2.0.1-rc1">



                <span>Form Elements</span>



            </a>

        </li>
        <li class="">

            <a href="form_validator7359.html?v=v2.0.1-rc1">



                <span>Form Validator</span>



            </a>

        </li>
        <li class="">

            <a href="file_managers7359.html?v=v2.0.1-rc1">



                <span>File Managers</span>



            </a>

        </li>
    </ul>

</li>
<li class="">

    <a href="sliders7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Sliders</span>



    </a>

</li>
<li class="">

    <a href="charts7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Charts</span>



    </a>

</li>
<li class="">

    <a href="grid7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Grid</span>



    </a>

</li>
<li class="">

    <a href="notifications7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Notifications</span>



    </a>

</li>
<li class="">

    <a href="modals7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Modals</span>



    </a>

</li>
<li class="">

    <a href="thumbnails7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Thumbnails</span>



    </a>

</li>
<li class="">

    <a href="carousels7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Carousels</span>



    </a>

</li>
<li class="">

    <a href="image_crop7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Image Cropping</span>



    </a>

</li>
<li class="">

    <a href="twitter7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Twitter API</span>



    </a>

</li>
<li class="">

    <a href="infinite_scroll7359.html?v=v2.0.1-rc1">


        <i class="fa fa-circle-o"></i>

        <span>Infinite Scroll</span>



    </a>

</li>
</ul>

</li>
<li class="hasSubmenu">

<a href="#menu-939acbc9bd532bf8119c79e7833b873a" data-toggle="collapse">


    <i class="fa fa-gift"></i>

    <span>Extra</span>



</a>
<ul class="collapse" id="menu-939acbc9bd532bf8119c79e7833b873a">
<li class="hasSubmenu">

    <a href="#menu-ac291c78c7dd7ee2169403eeb83c11a8" data-toggle="collapse">


        <i class="fa fa-dashboard"></i>

        <span>Dashboard</span>



    </a>
    <ul class="collapse" id="menu-ac291c78c7dd7ee2169403eeb83c11a8">
        <li class="">

            <a href="dashboard_analytics7359.html?v=v2.0.1-rc1">


                <i class="fa fa-bar-chart-o"></i>

                <span>Analytics</span>



            </a>

        </li>
        <li class="">

            <a href="dashboard_users7359.html?v=v2.0.1-rc1">


                <i class="fa fa-user"></i>

                <span>Users</span>



            </a>

        </li>
        <li class="">

            <a href="dashboard_overview7359.html?v=v2.0.1-rc1">


                <i class="fa fa-dashboard"></i>

                <span>Overview</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-07885d9fbb4c0b5a1baf3bb7e20587df" data-toggle="collapse">

        <span class="badge pull-right badge-primary">30</span>

        <i class="fa fa-envelope"></i>

        <span>Email</span>



    </a>
    <ul class="collapse" id="menu-07885d9fbb4c0b5a1baf3bb7e20587df">
        <li class="">

            <a href="email7359.html?v=v2.0.1-rc1">


                <i class="fa fa-inbox"></i>

                <span>Inbox</span>



            </a>

        </li>
        <li class="">

            <a href="email_compose7359.html?v=v2.0.1-rc1">


                <i class="fa fa-pencil"></i>

                <span>Compose</span>



            </a>

        </li>
    </ul>

</li>
<li class="">

    <a href="events7359.html?v=v2.0.1-rc1">

        <span class="badge pull-right badge-primary">5</span>

        <i class="fa fa-map-marker"></i>

        <span>Events</span>



    </a>

</li>
<li class="hasSubmenu">

    <a href="#menu-2bf2ff9e36b58c899dd7294e531f2c77" data-toggle="collapse">


        <i class="fa fa-map-marker"></i>

        <span>Maps</span>



    </a>
    <ul class="collapse" id="menu-2bf2ff9e36b58c899dd7294e531f2c77">
        <li class="">

            <a href="maps_vector7359.html?v=v2.0.1-rc1">


                <i class="fa fa-map-marker"></i>

                <span>Vector Maps</span>



            </a>

        </li>
        <li class="">

            <a href="maps_google7359.html?v=v2.0.1-rc1">


                <i class="fa fa-map-marker"></i>

                <span>Google Maps</span>



            </a>

        </li>
    </ul>

</li>
<li class="">

    <a href="employees7359.html?v=v2.0.1-rc1">


        <i class="fa fa-user"></i>

        <span>Employees</span>



    </a>

</li>
<li class="hasSubmenu">

    <a href="#menu-216fffc4caf08cf41da3ce980605eb12" data-toggle="collapse">


        <i class="fa fa-plus-circle"></i>

        <span>Medical</span>



    </a>
    <ul class="collapse" id="menu-216fffc4caf08cf41da3ce980605eb12">
        <li class="">

            <a href="medical_overview7359.html?v=v2.0.1-rc1">


                <i class="fa fa-medkit"></i>

                <span>Overview</span>



            </a>

        </li>
        <li class="">

            <a href="medical_patients7359.html?v=v2.0.1-rc1">

                <span class="badge pull-right badge-primary">2</span>

                <i class="fa fa-user-md"></i>

                <span>Patients</span>



            </a>

        </li>
        <li class="">

            <a href="medical_appointments7359.html?v=v2.0.1-rc1">


                <i class="fa fa-stethoscope"></i>

                <span>Appointments</span>



            </a>

        </li>
        <li class="">

            <a href="medical_memos7359.html?v=v2.0.1-rc1">


                <i class="fa fa-file-text-o"></i>

                <span>Memos</span>



            </a>

        </li>
        <li class="">

            <a href="medical_metrics7359.html?v=v2.0.1-rc1">


                <i class="fa fa-bar-chart-o"></i>

                <span>Metrics</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-407d7733973e40dcf9ab16c3beaa1f39" data-toggle="collapse">


        <i class="fa fa-graduation-cap"></i>

        <span>Courses</span>



    </a>
    <ul class="collapse" id="menu-407d7733973e40dcf9ab16c3beaa1f39">
        <li class="">

            <a href="courses_27359.html?v=v2.0.1-rc1">


                <i class="fa fa-graduation-cap"></i>

                <span>Courses Home</span>



            </a>

        </li>
        <li class="">

            <a href="courses_listing7359.html?v=v2.0.1-rc1">


                <i class="fa fa-graduation-cap"></i>

                <span>Courses Listing</span>



            </a>

        </li>
        <li class="">

            <a href="course7359.html?v=v2.0.1-rc1">


                <i class="fa fa-graduation-cap"></i>

                <span>Course page</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-53845c6601a007700432eb13e0b991c8" data-toggle="collapse">


        <i class="fa fa-file-text-o"></i>

        <span>Content</span>



    </a>
    <ul class="collapse" id="menu-53845c6601a007700432eb13e0b991c8">
        <li class="">

            <a href="news7359.html?v=v2.0.1-rc1">


                <i class="fa fa-file-text"></i>

                <span>News</span>



            </a>

        </li>
        <li class="">

            <a href="faq7359.html?v=v2.0.1-rc1">


                <i class="fa fa-question-circle"></i>

                <span>FAQ</span>



            </a>

        </li>
        <li class="">

            <a href="search7359.html?v=v2.0.1-rc1">


                <i class="fa fa-search"></i>

                <span>Search</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-d236c99eadc9b0f8b18939470b25636d" data-toggle="collapse">


        <i class="fa fa-bank"></i>

        <span>Financial</span>



    </a>
    <ul class="collapse" id="menu-d236c99eadc9b0f8b18939470b25636d">
        <li class="">

            <a href="invoice7359.html?v=v2.0.1-rc1">


                <i class="fa fa-file-text-o"></i>

                <span>Invoice</span>



            </a>

        </li>
        <li class="">

            <a href="finances7359.html?v=v2.0.1-rc1">


                <i class="fa fa-legal"></i>

                <span>Finances</span>



            </a>

        </li>
        <li class="">

            <a href="bookings7359.html?v=v2.0.1-rc1">


                <i class="fa fa-ticket"></i>

                <span>Bookings</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-4fd0c50801292e762ed535da7b58f921" data-toggle="collapse">


        <i class="fa fa-life-saver"></i>

        <span>Support</span>



    </a>
    <ul class="collapse" id="menu-4fd0c50801292e762ed535da7b58f921">
        <li class="">

            <a href="support_tickets7359.html?v=v2.0.1-rc1">

                <span class="badge pull-right badge-primary">45</span>

                <i class="fa fa-ticket"></i>

                <span>Tickets</span>



            </a>

        </li>
        <li class="">

            <a href="support_forum_overview7359.html?v=v2.0.1-rc1">


                <i class="fa fa-folder-o"></i>

                <span>Forum Overview</span>



            </a>

        </li>
        <li class="">

            <a href="support_forum_post7359.html?v=v2.0.1-rc1">


                <i class="fa fa-folder-o"></i>

                <span>Forum Post</span>



            </a>

        </li>
        <li class="">

            <a href="support_kb7359.html?v=v2.0.1-rc1">


                <i class="fa fa-file-text-o"></i>

                <span>Knowledge Base</span>



            </a>

        </li>
        <li class="">

            <a href="support_questions7359.html?v=v2.0.1-rc1">

                <span class="badge pull-right badge-primary">7</span>

                <i class="fa fa-question"></i>

                <span>Questions</span>



            </a>

        </li>
        <li class="">

            <a href="support_answers7359.html?v=v2.0.1-rc1">


                <i class="fa fa-info"></i>

                <span>Answers</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-713baa3f44375d3348ad4316f15d7722" data-toggle="collapse">


        <i class="fa fa-shopping-cart"></i>

        <span>eCommerce</span>



    </a>
    <ul class="collapse" id="menu-713baa3f44375d3348ad4316f15d7722">
        <li class="">

            <a href="shop_products7359.html?v=v2.0.1-rc1">


                <i class="fa fa-list"></i>

                <span>Products</span>



            </a>

        </li>
        <li class="">

            <a href="shop_edit_product7359.html?v=v2.0.1-rc1">


                <i class="fa fa-pencil"></i>

                <span>Edit product</span>



            </a>

        </li>
    </ul>

</li>
<li class="hasSubmenu">

    <a href="#menu-6b1e0e16dfcfc86c1c6237475ab6a0e2" data-toggle="collapse">


        <i class="fa fa-user"></i>

        <span>Account</span>



    </a>
    <ul class="collapse" id="menu-6b1e0e16dfcfc86c1c6237475ab6a0e2">
        <li class="">

            <a href="login7359.html?v=v2.0.1-rc1" class="no-ajaxify">


                <i class="fa fa-user"></i>

                <span>Login</span>



            </a>

        </li>
        <li class="">

            <a href="signup7359.html?v=v2.0.1-rc1" class="no-ajaxify">


                <i class="fa fa-plus-circle"></i>

                <span>Signup</span>



            </a>

        </li>
    </ul>

</li>
<li class="">

    <a href="surveys_multiple7359.html?v=v2.0.1-rc1">


        <i class="fa fa-question-circle"></i>

        <span>Surveys</span>



    </a>

</li>
<li class="">

    <a href="error7359.html?v=v2.0.1-rc1" class="no-ajaxify">


        <i class="fa fa-exclamation-triangle"></i>

        <span>Error</span>



    </a>

</li>
</ul>

</li>
<li class="category border-top">




    <span>News Feeds</span>





</li>
<li class="reset">


    <ul>
        <li class="media news-item">
            <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
		<span class="pull-left media-object">
			<i class="fa fa-fw fa-bell"></i>
		</span>
            <div class="media-body">
                <a href="#" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
            </div>
        </li>
        <li class="media news-item">
            <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
		<span class="pull-left media-object">
			<i class="fa fa-fw fa-bell"></i>
		</span>
            <div class="media-body">
                <a href="#" class="text-white">Adrian</a> just added  <a href="#" class="text-white">mosaicpro</a> as their office
                <span class="time">2 min ago</span>
            </div>
        </li>
        <li class="media news-item">
		<span class="pull-left media-object">
			<i class="fa fa-fw fa-bell"></i>
		</span>
            <div class="media-body">
                <a href="#" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
            </div>
        </li>
        <li class="media news-item">
		<span class="pull-left media-object">
			<i class="fa fa-fw fa-bell"></i>
		</span>
            <div class="media-body">
                <a href="#" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
            </div>
        </li>
        <li class="media news-item">
		<span class="pull-left media-object">
			<i class="fa fa-fw fa-bell"></i>
		</span>
            <div class="media-body">
                <a href="#" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
            </div>
        </li>
    </ul>


</li>
<li class="category">




    <span>Filter</span>





</li>
<li class="reset">


    <div class="innerLR innerB">
        <ul>
            <li><a href="#"><span class="fa fa-fw fa-circle-o text-success"></span> Work Related</a></li>
            <li><a href="#"><span class="fa fa-fw fa-circle-o text-primary"></span> Very Important</a></li>
            <li><a href="#"><span class="fa fa-fw fa-circle-o text-info"></span> Friends &amp; Family</a></li>
        </ul>
    </div>


</li>
</ul>
</div>


</div>
<!-- // Main Sidebar Menu END -->



<div id="menu-right">
<div>
<button class="btn btn-inverse btn-xs btn-close " data-toggle="sidr-close" data-menu="menu-right"><i class="fa fa-times"></i></button>

<div class="tab-content">
<div class="tab-pane" id="chat-conversation">
    <ul>
        <li>
            <div class="innerAll"><button class="btn btn-primary" data-toggle="tab" data-target="#chat-list"><i class="fa fa-fw fa-user"></i> friends</button></div>
        </li>
        <li class="conversation innerAll">
            <!-- Media item -->
            <div class="media">
                <small class="author"><a href="#" title="" class="strong">Jane Doe</a></small>
                <div class="media-object pull-left"><img src="social/php/assets/images/people/50/1.jpg" alt="Image" class="img-circle" /></div>
                <div class="media-body">
                    <blockquote>
                        <small class="date"><cite>just now</cite></small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sit?</p>
                    </blockquote>
                </div>
            </div>
            <!-- // Media item END -->

            <!-- Media item -->
            <div class="media primary right">
                <small class="author"><a href="#" title="" class="strong">John Doe</a></small>
                <div class="media-object pull-right"><img src="social/php/assets/images/people/50/2.jpg" alt="Image" class="img-circle" /></div>
                <div class="media-body">
                    <blockquote class="pull-right">
                        <small class="date"><cite>15 seconds ago</cite></small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, molestiae!</p>
                    </blockquote>
                </div>
            </div>
            <!-- // Media item END -->

            <!-- Media item -->
            <div class="media">
                <small class="author"><a href="#" title="" class="strong">Ricky</a></small>
                <div class="media-object pull-left"><img src="social/php/assets/images/people/50/1.jpg" alt="Image" class="img-circle" /></div>
                <div class="media-body">
                    <blockquote>
                        <small class="date"><cite>5 minutes ago</cite></small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, distinctio!</p>
                    </blockquote>
                </div>
            </div>
            <!-- // Media item END -->
        </li>
    </ul>
</div>

<div class="tab-pane active" id="chat-list">
    <div class="mixitup" id="mixitup-chat" data-show-default="mixit-chat-1" data-layout-mode="list" data-target-selector=".mix" data-filter-selector=".filter-chat">
        <ul>
            <li class="category">Groups</li>
            <li class="reset">
                <div class="innerLR">
                    <ul>
                        <li class="filter-chat" data-filter="mixit-chat-1"><a href="#" class="no-ajaxify"><span class="fa fa-fw fa-circle-o text-success"></span> Work Related</a></li>
                        <li class="filter-chat" data-filter="mixit-chat-2"><a href="#" class="no-ajaxify"><span class="fa fa-fw fa-circle-o text-primary"></span> Very Important</a></li>
                        <li class="filter-chat" data-filter="mixit-chat-3"><a href="#" class="no-ajaxify"><span class="fa fa-fw fa-circle-o text-info"></span> Friends &amp; Family</a></li>
                    </ul>
                </div>
            </li>
            <li class="category border-bottom">Online</li>
            <li>

                <div class="mixit-chat-1 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/1.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Perpetua Inger</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-1 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/2.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Zoticus Axel</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-1 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/3.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Yun Ragna</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-1 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/4.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Victor Tacitus</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-1 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/5.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Arden Catharine</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-2 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/6.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Mihovil Govinda</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-2 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/7.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Mariya Hadya</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-2 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/8.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Tahir Benedikt</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-2 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/9.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Olayinka Kristin</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-2 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/10.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Danko Nikodim</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-3 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/11.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Zoja Aileas</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-3 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/12.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Alphonsus Braidy</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-3 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/13.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Helene Liana</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-3 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/14.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Sebastian Niklas</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class="mixit-chat-3 mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/15.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Elvire Maya</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>
                <div class=" mix media border-bottom innerAll margin-none">
                    <a href="#chat-conversation" data-toggle="tab" class="pull-left media-object"><img src="social/php/assets/images/people/35/16.jpg" class="img-circle" /></a>
                    <div class="media-body">
                        <a href="#chat-conversation" data-toggle="tab" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                        </a>
                        <h5 class="margin-none"><a href="#chat-conversation" data-toggle="tab" class="text-white">Kerman Otakar</a></h5>
                        <small>Hey, the party is on tonight!</small>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
</div>

</div>
</div>



<!-- Content START -->
<div id="content">

    <div class="navbar hidden-print navbar-default box main" role="navigation">

        <div class="user-action user-action-btn-navbar pull-right border-left">
            <a href="#menu-right" class="btn btn-sm btn-navbar btn-open-right"><i class="fa fa-comments fa-2x"></i></a>
        </div>
        <div class="user-action user-action-btn-navbar pull-left">
            <a href="#menu" class="btn btn-sm btn-navbar btn-open-left"><i class="fa fa-bars fa-2x"></i></a>
        </div>

        <ul class="notifications pull-left hidden-xs">
            <li class="dropdown notif">
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown"><i class="notif-block icon-envelope-1"></i><span class="fa fa-star"></span></a>
                <ul class="dropdown-menu chat media-list">
                    <li class="media">
                        <a class="pull-left" href="#"><img class="media-object thumb" src="social/php/assets/images/people/100/15.jpg" alt="50x50" width="50"/></a>
                        <div class="media-body">
                            <span class="label label-default pull-right">5 min</span>
                            <h5 class="media-heading">Adrian D.</h5>
                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#"><img class="media-object thumb" src="social/php/assets/images/people/100/16.jpg" alt="50x50" width="50"/></a>
                        <div class="media-body">
                            <span class="label label-default pull-right">2 days</span>
                            <h5 class="media-heading">Jane B.</h5>
                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#"><img class="media-object thumb" src="social/php/assets/images/people/100/17.jpg" alt="50x50" width="50"/></a>
                        <div class="media-body">
                            <span class="label label-default pull-right">3 days</span>
                            <h5 class="media-heading">Andrew M.</h5>
                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="user-action pull-left menu-right-hidden-xs menu-left-hidden-xs border-left">
            <div class="dropdown username pull-left">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="media margin-none">
					<span class="pull-left"><img src="social/php/assets/images/people/35/16.jpg" alt="user" class="img-circle"></span>
					<span class="media-body">Bill <span class="caret"></span></span>
				</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="about_17359.html?v=v2.0.1-rc1" >About</a></li>
                    <li><a href="messages7359.html?v=v2.0.1-rc1">Messages</a></li>
                    <li><a href="timeline_37359.html?v=v2.0.1-rc1">Profile</a></li>
                    <li><a href="login7359.html?v=v2.0.1-rc1">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group hidden-xs pull-left">
            <span class="input-group-addon"><i class="icon-search"></i></span>
            <input type="text" class="form-control" placeholder="Search a friend"/>
        </div>
    </div>



    <div class="innerAll">
        <div class="row">
            <div class="col-lg-9 col-md-8">




                <div class="gridalicious-row" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">
                    <div class="innerAll inner-2x loading text-center text-medium"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</div>
                    <div class="loaded hide2">




                    </div>
                </div>

            </div>

            <div class="col-md-4 col-lg-3">

                <!-- WIDGET START -->
                <div class="widget">
                    <div class="widget-body text-center">
                        <a href="#"><img src="social/php/assets/images/people/250/22.jpg" width="120" alt="" class="img-circle"></a>
                        <h2 class="strong margin-none">Adrian Demian</h2>
                        <div class="innerB">Working at MOSAICPRO</div>
                        <a href="#" class="btn btn-primary text-center btn-block">PRO Account</a>
                        <div class="btn-group-vertical btn-block">
                            <a href="#" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                            <a href="#" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <!-- // WIDGET END -->




                <div class="widget">
                    <h5 class="innerAll margin-none border-bottom bg-gray">Recent News</h5>
                    <div class="widget-body padding-none">
                        <div class="media border-bottom innerAll margin-none">
                            <img src="social/php/assets/images/people/35/22.jpg" class="pull-left media-object"/>
                            <div class="media-body">
                                <a href="#" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="#" class="text-inverse">Social Admin Released</a></h5>
                                <small>on February 2nd, 2014 </small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="social/php/assets/images/people/35/22.jpg" class="pull-left media-object"/>
                            <div class="media-body">
                                <a href="#" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="#" class="text-inverse">Timeline Cover Page</a></h5>
                                <small>on February 2nd, 2014 </small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="social/php/assets/images/people/35/22.jpg" class="pull-left media-object"/>
                            <div class="media-body">
                                <a href="#" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="#" class="text-inverse">1000+ Sales</a></h5>
                                <small>on February 2nd, 2014 </small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="social/php/assets/images/people/35/22.jpg" class="pull-left media-object"/>
                            <div class="media-body">
                                <a href="#" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="#" class="text-inverse">On-Page Optimization</a></h5>
                                <small>on February 2nd, 2014 </small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="social/php/assets/images/people/35/22.jpg" class="pull-left media-object"/>
                            <div class="media-body">
                                <a href="#" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="#" class="text-inverse">14th Admin Template</a></h5>
                                <small>on February 2nd, 2014 </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget widget-heading-simple widget-body-white">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons glyphicons-social twitter"><i></i>Twitter feed</h4>
                    </div>
                    <!-- // Widget Heading END -->

                    <div class="widget-body" data-builder-exclude="element children">
                        <div class="jstwitter" data-gridalicious="false" data-type="slide" data-images="false"><span class="label label-default">Loading .. </span></div>
                    </div>
                </div>
                <!-- // Widget END -->

                {% block content %}{% endblock %}



            </div>
        </div>
    </div>











</div>

<!-- // Content END -->

<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->

<!-- Footer -->
<div id="footer" class="hidden-print">

    <!--  Copyright Line -->
    <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz/">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase Social Admin Template</a> - Current version: v2.0.1-rc1 / <a target="_blank" href="../../CHANGELOG7359.txt?v=v2.0.1-rc1">changelog</a></div>
    <!--  End Copyright Line -->

</div>
<!-- // Footer END -->


</div>





	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

	{% endif %}

</body>

</html>



