<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/img/brand/logo.png">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/img/brand/logo.png">

    <!-- Fav Icon -->
    <link href="social/php/assets/images/logo/logo.ico" rel="shortcut icon" type="image/x-icon">

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="serveStyles.css" />

    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

</head>

<body class="ng-cloak" ng-cloak style="overflow-x: hidden;">

{% block content %}
{% endblock %}


<!--Embedding The User Object-->
<script type="text/javascript">
    var user = {{ user | json | safe }};
</script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}
<script type="text/javascript" src='shared/assets/library/jquery/jquery.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/core_preload/pace.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/core_nicescroll/jquery.nicescroll.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/core_breakpoints/breakpoints.js'></script>
<script type="text/javascript" src='social/php/assets/plugins/menu_sidr/jquery.sidr.js'></script>
<script type="text/javascript" src='shared/assets/plugins/media_holder/holder.js'></script>
<script type="text/javascript" src='shared/assets/plugins/ui_modals/bootbox.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/other_mixitup/jquery.mixitup.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/core_less-js/less.min.js'></script>
<script type="text/javascript" src='shared/assets/plugins/charts_flot/excanvas.js'></script>
<script type="text/javascript" src='shared/assets/plugins/core_browser/ie/ie.prototype.polyfill.js'></script>
<script type="text/javascript" src='shared/assets/library/modernizr/modernizr.js'></script>
<script type="text/javascript" src='shared/assets/library/jquery/jquery-migrate.min.js'></script>
<script type="text/javascript" src='shared/assets/components/maps_google/maps-google.init.js'></script>
<script type="text/javascript" src='shared/assets/library/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='social/php/assets/components/media_gridalicious/gridalicious.init.js'></script>
<script type="text/javascript" src='shared/assets/plugins/media_gridalicious/jquery.gridalicious.min.js'></script>
<script type="text/javascript" src='social/php/assets/components/menus/sidebar.main.init.js'></script>
<script type="text/javascript" src='social/php/assets/components/menus/sidebar.collapse.init.js'></script>
<script type="text/javascript" src='social/php/assets/components/menus/menus.sidebar.chat.init.js'></script>
<script type="text/javascript" src='shared/assets/plugins/other_mixitup/mixitup.init.js'></script>
<script type="text/javascript" src='lib/autogrow/autogrow.js'></script>
<script type="text/javascript" src='shared/assets/components/core_preload/preload.pace.init.js'></script>

{% if process.env.NODE_ENV === 'development' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

{% endif %}

</body>

</html>